* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: none;
}
body{
    overflow-x: hidden;
}
section {
    min-height: 100vh;
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.cursor {
    position: absolute;
    left: 0;
    top: 0;
    /* border: 1.5px solid white; */
    width: 30px;
    height: 30px;
    border-radius: 50px;
    transform: translate(-50%,-50%);
    pointer-events: none;
}
.cursor::after , .cursor::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50px;
}
.cursor::before {
    background-color:white;
    transform: translate(-50%, -50%) scale(3);
}
.cursor.click::before{
    animation: click .5s ease-in-out forwards;
}
@keyframes click {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(5);
    }
}